{%load sekizai_tags%}
{% if error%}{{error}}{%else%}{{htmlcontainer|safe}}
{%if d3js_src and nvd3css_src and nvd3js_src%}
{% addtoblock "js"%}
        <script src="{{d3js_src}}" type="text/javascript" charset="utf-8"></script>
        <script src="{{nvd3js_src}}" type="text/javascript" charset="utf-8"></script>
{%endaddtoblock%}
{%addtoblock "js"%}{{htmldata|safe}}{%endaddtoblock%}
{% addtoblock "css"%}<link media="all" href="{{nvd3css_src}}" type="text/css" rel="stylesheet">{%endaddtoblock%}
{%endif%}{%endif%}